DID_RESOLVER=http://api.elastos.io:21606
ELA_RESOLVER=http://api.elastos.io:21606

DID_MNEMONIC="advance duty suspect finish space matter squeeze elephant twenty over stick shield"
DID_PASSPHRASE=secret
DID_STOREPASS=password

HIVE_DATA = ./data

HIVE_SENTRY_DSN =

HIVE_PAYMENT_CONFIG=./payment_config.json

MONGO_HOST=localhost
MONGO_PORT=27020

DID_INFO_DB_NAME=hive_manage_info

RCLONE_CONFIG_FILE_DIR=./.rclone_config

BACKUP_FTP_PORT=2121

BACKUP_FTP_PORT=2121

# hive node release
HIVE_VERSION=1.0.0
HIVE_COMMIT_HASH=279b15650a86b16dcba289e74a09290ff225c69a
