google-api-python-client==1.10.0
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-auth-httplib2==0.0.4
pymongo==3.11.0
Flask==1.1.2
Flask-Script==2.0.6
Flask-APScheduler==1.11.0
Flask-RangeRequest==0.0.0
cffi==1.14.1
base58==2.0.1
python-decouple==3.3
gunicorn==20.0.4
Eve==1.1.2
pytest==6.0.1
