base58==2.0.1
cffi==1.14.1
click==8.1.2
Flask==2.0.3
Flask-Script==2.0.5
Flask-APScheduler==1.11.0
Flask-RESTful==0.3.9
Flask-RangeRequest==0.0.2
Flask-Testing===0.8.1
flask-cors==3.0.10
flask-unittest==0.1.2
Flask-Executor==0.10.0
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pyftpdlib==1.5.6
PyOpenSSL==22.0.0
pysendfile==2.0.1
PyJWT==2.0.0
pymongo==4.1.1
python-decouple==3.3
PyYAML==5.4.1
pytest==6.0.1
requests==2.25.0
sentry-sdk[flask]==0.19.4
web3==5.29.0