# This file shows the examples of every configure item (testnet).
# '.env' (default name used by hive node) file is loaded by 'decouple' package.

## resolvers
# EID_RESOLVER_URL = https://api-testnet.elastos.io/eid
# ESC_RESOLVER_URL = https://api-testnet.elastos.io/esc

## private key to Hive node service DID
# SERVICE_DID_PRIVATE_KEY = YOUR-SERVICE-DID-BASE58-STRING
# PASSPHRASE = secret
# PASSWORD = password

## Credential issued by User DID to service DID
# NODE_CREDENTIAL = YOUR-CREDNETIAL-BASE58-STRING

## local data store path
# DATA_STORE_PATH = ./data

## enable to report issue via sentry
# SENTRY_ENABLED = False
# SENTRY_DSN = https://1dafd5d11608420aacbbf76f4288960f@o339076.ingest.sentry.io/5524839

## payment configuration
# PAYMENT_ENABLED = True
# PAYMENT_CONFIG_PATH = ./payment_config.json
# PAYMENT_CONTRACT_ADDRESS = "xxx"
# PAYMENT_RECEIVING_ADDRESS =

## using atlast service or mongodb service
ATLAS_ENABLED = False
# MONGODB_URL = mongodb://localhost:27020

## IPFS node service
# IPFS_NODE_URL = http://localhost:5001
# IPFS_GATEWAY_URL = http://localhost:8080

# ENABLE_CORS = True

## Hive node version/commit ID.
## Version must be: '***v<major>.<minor>.<patch>' or '<major>.<minor>.<patch>'.
# VERSION =
# LAST_COMMIT =

## basic information about this node.
# NODE_NAME = your_hive_node_name
# NODE_EMAIL = contract@example.com
# NODE_DESCRIPTION = "your hive node descritpion"
